//
   Created by Karim on 08.05.2016.

extends layout/page

block content
    .container
        .row
            each ad in ads
                - function parseDate(date) {return date.toString().split(' ').splice(1, 4).concat();};
                - function isSubscription(ad) {return ~user.liked.indexOf(ad)};
                .product.col-xs-12.col-sm-4
                    a(href="/ad/#{ad._id}")
                        if ad.img
                            img(src="#{ad.img}", alt="#{ad.title}", style="max-width: 100%")
                        else
                            img(src="/images/no_photo.jpg", alt="#{ad.title}", style="max-width: 100%")
                    a(href="/ad/#{ad._id}")
                        h4 #{ad.title}
                    span #{parseDate(ad.created)}
                    .row
                        h3.col-xs-6
                            strong.label.label-success #{ad.price} Грн
                        h3.col-xs-6(style="text-align: right")
                            if user
                                if user.id == ad.author
                                    button.btn.btn-danger.deleteAd-btn(data-id="#{ad._id}")
                                        span.glyphicon.glyphicon-trash(aria-hidden="true")
                                else
                                    if !isSubscription(ad._id)
                                        button.btn.btn-info.subscription-btn(data-id="#{ad._id}")
                                            span.glyphicon.glyphicon-edit
                                    else
                                        button.btn.btn-info.unSubscription-btn(data-id="#{ad._id}")
                                            span.glyphicon.glyphicon-share

block append script
    script(src="/js/controllers/AdController.js")
